@charset "utf-8";
/* CSS Document */

canvas {
	width: 500px; 
	height: 500px;
	padding: 0;
}
body {
	font-family: Arial;
	text-align: center;
}
.text {
	text-align: justify;
	padding-left: 30%;
	padding-right: 30%;
}
.slider {
	font-size: 14px;
}